<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header{
            background-color: blue;
            height: 100px;
            width: 100%;
        }

        .chat{
            margin: 0 auto;
            width: 60%;
        }
        .chat img {
            width: 100%;
        }
        h1{
            text-align: center;
            color: dodgerblue;
        }

        .lorem{
            margin: 0 auto;
            width: 60%;
        }

        .lorem{
            text-align: center;
            color: dodgerblue;
        }

        footer{
            background-color: blue;
            height: 100px;
            width: 100%;


        }



    </style>
</head>
<body>

<header>

</header>

<main>
    <h1>Chat</h1>

    <div class="chat">
        <img  src="https://static.mmzstatic.com/wp-content/uploads
        /2018/07/canicule-chien-chat.jpg" alt="chat">
    </div>

    <div class="lorem">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
            accusantium aliquam debitis enim est eveniet facere illo, labore
            nesciunt praesentium quis quos suscipit tempora tempore ullam ut
            voluptatum? Exercitationem, porro!Eum, iste laudantium
            maxime nihil non praesentium provident unde. Blanditiis cum dolor
            dolore eius excepturi exercitationem iure nemo quam veniam! Ab commodi
            eos error fuga fugiat quae quibusdam, repellendus ullam.Adipisci animi
            ex facilis, fugiat nostrum optio sapiente ut! Amet aut commodi,
            conequuntur, debitis eaque eos in laudantium molestiae natus neque
            nulla officiis optio porro quam repellendus temporibus, tenetur vel.
            Alias, enim harum ipsum maiores nostrum pariatur quisquam reiciendis.
            Consequuntur, natus, voluptates. Amet asperiores blanditiis dolor dolorem,
            dolorum excepturi molestiae provident quas, quia sed unde veritatis vitae,
            voluptates? Ipsam, labore.Deleniti eius excepturi harum laborum. Dolores
            dolorum harum optio sint. Animi consequuntur dolore eligendi enim eos expedita
            incidunt itaque mollitia nam officiis praesentium qui quo repellat rerum sequi,
            sint sit.Aspernatur consectetur cumque delectus deserunt dicta
            doloribus dolorum earum eius exercitationem explicabo illo ipsa iste maiores
            minus modi natus nesciunt, nostrum obcaecati, quam quos repudiandae sequi
            temporibus voluptas? Ab, alias!Amet consequuntur cum, debitis ipsa ipsam
            laborum nam nulla rerum tempore unde! Corporis culpa cupiditate dolore earum
            eligendi error eveniet, ipsum iste minima nobis qui quo ratione reiciendis totam
            ut.Aliquid aperiam cum debitis deleniti doloribus ea eaque eius enim facere
            incidunt inventore laboriosam laborum libero mollitia, necessitatibus nesciunt
            nobis non provident rerum veritatis. Architecto commodi dolore modi odit quod?
            Aut culpa doloribus eaque eos esse, eveniet explicabo incidunt itaque laudantium
            minima odit quaerat, ratione veniam. Aspernatur debitis ducimus eaque laboriosam
            magni minima nisi odio quam quasi recusandae, sequi, voluptate?
            Assumenda, consectetur dolorem eius facere facilis fugiat id labore, nobis
            officiis perspiciatis quisquam ratione veniam! Ad architecto at blanditiis,
            eligendi, explicabo incidunt laborum laudantium magnam magni omnis rerum sint
            soluta!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut
            um hic. Earum laborum necessitatibus, nostrum repellendus reprehenderit sequi
            emporibus voluptas? Consequatur ea exercitationem, molestiae porro quisquam
            repudiandae tempore unde.</p>
    </div>


</main>
<footer>

</footer>

</body>
</html>