<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        body{
            text-align:center;
        }

    </style>
</head>
<body>
<h1>bonjour!</h1>
<p>chala pompidou</p>
<p>1 rue des corps</p>
<p>33470 flabada</p>

</body>
</html>