<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {# utilisation de la fonction twig "asset" qui nous place directement dans le dossier "public/"
     qui est le seul dossier accessible par le navigateur#}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet, at commodi corporis culpa cum cumque dolor est iusto maxime minima necessitatibus nemo quis quisquam repellat, rerum sapiente temporibus!</p


    <a target="_blank" href="https://www.nature-isere.fr/sites/default/files/styles/natureisere_large/public/images/temoignages/principale/iceland-2111810_1920.jpg?itok=PMXb-dCB">clik</a>
</main>

</body>
</html>